{% extends 'dashboard_layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Training - AI Marketing Platform{% endblock %}

{% block dashboard_content %}
<!-- Member Resources Section -->
<div class="bg-white  overflow-hidden mt-4 lg:text-lg">
  <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-4">Training Resources</h1>
    <p class="mb-4"> Exclusive member only training resources covering prompt engineering, prompt marketing and other relevant topics. 
  <div class="p-6">
    {% if member_resources %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 ">
      {% for resource in member_resources %}
      <div
        class="border rounded-lg overflow-hidden hover:shadow-lg transition-shadow duration-200"
      >
        <a href="{{ resource.file.url }}" class="block" target="_blank">
          <img
            src="{{ resource.thumbnail.url }}"
            alt="{{ resource.title }}"
            class="w-full h-40 object-contain"
          />
          <div class="p-4">
            <h3 class="font-medium text-gray-900 mb-1">{{ resource.title }}</h3>
            <p class="text-md text-gray-600 mb-2">
              {{ resource.description|truncatechars:60 }}
            </p>
            <a href="{% url 'accounts:download_resource' resource_id=resource.id %}" class="btn-main rounded-lg hoddver:bg-blue-600 inline-flex items-center px-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Download
          </a>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="text-center py-8">
      <p class="text-gray-600 mb-2">No resources available yet.</p>
      <p class="text-gray-600">
        Check back soon for Prompt Writing guides and templates!
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}