{% extends 'base.html' %}
{% load static %}
<!-- templates/accounts/signup.html -->

{% block title %}Sign Up - AI Marketing Platform{% endblock %}

{% block content %}
<div class="container mx-auto  px-4 py-8">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 max-w-md bg-white dark:bg-gray-800 rounded-lg ">
        <div class="p-8 bg-gray-50 dark:bg-gray-700">
            <h2 class="text-2xl font-bold text-center mb-6 text-gray-900 dark:text-white">Sign Up</h2>
            <p class = "mb-4 text-center text-xl text-gray-600">This site is under construction.</p>
{% comment %}             
             <p class = "mb-4 text-center text-sm text-gray-600">Create an account using your <strong>BUSINESS</strong> email to get started. Get FREE access for 3 days. No credit card needed.</p>
            
            {% if form.non_field_errors %}
                <div class="text-red-500 text-sm mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="mb-4">
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class=" btn-main w-full py-2 px-4 bg-main text-white  bg-purple-700 hover:bg-purple-800  font-medium  rounded-lg shadow-md transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50">
                    Create Account
                </button>
            </form>
            
            <div class="text-center mt-4">
                <p>Already have an account? <a href="{% url 'accounts:login' %}" class="text-main hover:underline">Login</a></p>
            </div> 
        </div> {% endcomment %}
    </div>
</div>
{% endblock %}