{% load static %}
<!-- Start block -->
<section class="mt-16 bg-gray-50 dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-semibold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">AI Marketing Assistant</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
            Our AI-powered marketing assistant helps you turn raw ideas, reviews, transcripts, and more into structured content for social media, blogs, emails, onboarding, and beyond. </p> 
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Say goodbye to writers block or hours spent editing. Just upload your text, audio, or video and let our AI handle the rest. </p>
          <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
            <div class="w-full flex justify-center mt-4">
              <a href="{% url 'accounts:signup' %}" class="flex items-center justify-center gap-2 bg-purple-700 hover:bg-purple-800 text-white font-medium py-3 px-6 rounded-lg shadow-md transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50">
                <span class="text-base sm:text-lg">Get Started</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
            
          </div>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
          <img src="{% static 'images/aimarketing-home-image.webp' %}" alt="AI marketing hero image">
      </div>                
  </div>
</section>