{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AI Marketing Platform - Save time by posting content with AI." />
    <meta name="keywords" content="AI Marketing, AI, Marketing Platform, AI Tools, Content Creation" />
    <meta name="author" content="AI Marketing Platform" />

    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content="AI Marketing Platform" />
    <meta property="og:description" content="AI Marketing Platform - Save time by posting content with AI." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static 'images/amp-trans.jpg' %}" />
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <title>AI Marketing Platform</title>
    
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block extra_meta %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-screen bg-white dark:bg-gray-900 transition-all duration-300">
   
    {% include 'includes/messages.html' %} 
    
    {% if user.is_authenticated %}
      {% if '/blog/' in request.path or '/policy/policies/' in request.path or '/quick_start/' in request.path %}
        {% include 'includes/logged_in_public_header.html' %}
      {% else %}
        {% include 'includes/navbar.html' %}
      {% endif %}
    {% else %}
      {% include 'includes/navbar.html' %}
    {% endif %}
    
    <main class="flex-grow bg-white dark:bg-gray-900">
      {% block content %}{% endblock %}
    </main>
    
    <!-- Footer -->
    <footer role="contentinfo" class="mt-auto">{% include 'includes/footer.html' %}</footer>
    
    {% include 'includes/cookie_banner.html' %}

    <!-- Scripts -->
    <script defer src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    
    {% block extra_js %}{% endblock %}
  </body>
</html>