<!-- templates/dashboard_layout.html -->
{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col lg:flex-row min-h-screen bg-white">
  <aside class="w-64 bg-white shadow-md h-screen sticky top-0 hidden lg:block">
    {% include 'includes/sidebar.html' %}
    
  </aside>
  
  <!-- Mobile sidebar toggle button -->
  <div class="lg:hidden fixed top-4 left-4 z-50">
    <button id="mobile-menu-button" class="bg-white p-2 rounded-md shadow-md">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  
  <!-- Mobile sidebar (hidden by default) -->
  <div id="mobile-sidebar" class="fixed inset-0 bg-gray-800 bg-opacity-40 backdrop-blur-sm z-40 hidden lg:hidden">
    <div class="w-64 bg-white h-full">
      <div class="flex justify-end p-4">
        <button id="close-sidebar" class="text-gray-500">
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      {% include 'includes/sidebar.html' %}
    </div>
  </div>

  <main class="flex-1 p-4 sm:p-6 md:p-8 lg:py-6 lg:pr-6 lg:pl-3 mt-20 lg:pt-8 overflow-auto lg:ml-56">
    {% block dashboard_content %}{% endblock %}
  </main>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const closeSidebarButton = document.getElementById('close-sidebar');
    const mobileSidebar = document.getElementById('mobile-sidebar');
    
    mobileMenuButton.addEventListener('click', function() {
      mobileSidebar.classList.remove('hidden');
    });
    
    closeSidebarButton.addEventListener('click', function() {
      mobileSidebar.classList.add('hidden');
    });
  });
</script>
{% endblock %}